/* ----------------------------------          HEADER         -----------------------------------*/

header {
  width: 100%;
  margin-bottom: 50px;
}

.header-container {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-content: center;
}

.logo {
  font-size: 25px;
  padding: 11px 0;
  margin-left: -90px;
  margin-right: 500px;
}

.contact-button-active {
  text-align: center;
  width: 75px;
  border-radius: 15px;
  box-shadow: 0 0 20px #343679;
  background: linear-gradient(90deg, #2962ea 33%, #7b55ec);
  text-shadow: 1px 1px 2px #000000;
}

.contact-button-inactive {
  text-align: center;
  width: 75px;
  border-radius: 15px;
  background: linear-gradient(90deg, #2962ea 33%, #7b55ec);
}

nav {
  margin-top: 11px;

  ul {
    float: right;
    margin: 0;
    padding: 0;
  }

  ul li {
    float: left;
    list-style-type: none;
  }

  ul li:last-child {
    padding-right: 10px;
  }

  ul li a {
    font-family: "Droid Sans Mono", sans-serif;
    color: #ffffff;
    font-size: 15px;
    padding: 7px 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    text-decoration: none;
    transition: 0.1s;
  }

  ul li a:hover {
    text-shadow: 0 0 10px #ffffff;
    transform: scale(1.05);
  }

  .contact-button:hover {
    transform: scale(1);
    text-shadow: 0 0 0 #ffffff;
  }
}

.language {
  margin-top: 55px;
}

.language a {
  text-decoration: none;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  height: 100px;
  margin-right: 10px;
}

.selectLanguage {
  border: transparent;
  width: 130px;
  text-align: center;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  background-color: rgb(9, 17, 30);
  //background: url("./img/globus.svg") no-repeat;
  background-position-x: 10%;
  background-position-y: 25%;
}
